<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>Hello {{name}}</p>
	<br>
	<hr>
	{{#each rows}}
	<form action="/user/comment/delete" method="POST">
	<input type="hidden" name="content_id" value="{{content_id}}">
	<p>第{{content_id}}条</p>
	<p>{{username}}</p>
	<p>{{content}}</p>
	<button type="submit">删除</button>
	</form>
	<hr>
	{{/each}}
</body>
</html>